.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  background: #222; /* distinto al de cliente */
  border-bottom: 3px solid #f39c12; /* detalle dorado */
  top: 0;
  z-index: 1000;
  min-height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-weight: bold;
}

.logo img {
  width: 90px;
  height: auto;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav a:hover {
  background-color: #f39c12;
  color: #222;
}

.userName {
  font-weight: bold;
  color: #fdfdfd;
}

.logout {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout:hover {
  background: darkred;
}